<div class="left-custom-menu-adp-wrap">
    <ul class="nav navbar-nav left-sidebar-menu-pro">
        <li class="nav-item">
            <a href="#" role="button" aria-expanded="false" class="nav-link"><i class="fa big-icon fa-home"></i> <span
                    class="mini-dn">Overviews</span> <span class="indicator-right-menu mini-dn"><i
                        class="fa indicator-mn"></i></span></a>
        </li>
        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                class="nav-link dropdown-toggle"><i class="fa big-icon fa-database"></i> <span
                    class="mini-dn">Reference</span> <span class="indicator-right-menu mini-dn"><i
                        class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                <a href="#" class="dropdown-item">Kabupaten</a>
                <a href="#" class="dropdown-item">Distrik / Kampung</a>
                <a href="#" class="dropdown-item">Nelayan</a>
                <a href="#" class="dropdown-item">Kategori Produk</a>
            </div>
        </li>
        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                class="nav-link dropdown-toggle"><i class="fa big-icon fa-book"></i> <span
                    class="mini-dn">Penjualan</span> <span class="indicator-right-menu mini-dn"><i
                        class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                <a href="#" class="dropdown-item">Hari ini</a>
                <a href="#" class="dropdown-item">Tersedia</a>
                <!--<a href="<?php echo base_url()?>Dokter" class="dropdown-item">Tindakan</a>
                <a href="<?php echo base_url()?>Dokter" class="dropdown-item">Rekam Medis</a>!-->
            </div>
        </li>

        <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                class="nav-link dropdown-toggle"><i class="fa big-icon fa-users"></i> <span
                    class="mini-dn">Pengguna</span> <span class="indicator-right-menu mini-dn"><i
                        class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                <a href="<?php echo base_url()?>Users/level_user" class="dropdown-item">Roles</a>
                <a href="<?php echo base_url()?>Users" class="dropdown-item">Users</a>
            </div>
        </li>

    </ul>
</div>